nav{
    background: linear-gradient(black, transparent);
}

.nav-link{
    color: white !important;
    font-weight: bold;
    padding: 0px 50px 0px 50px;
}

.portada{
    background-image: url(./IMAGENES/Central/imagenCentral.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.button{
    background-color: black;
    opacity: 0.7;
    padding: 1rem 3rem 1rem 3rem;
    color: white;
    font-weight: bold;
    border-radius: 2rem;
}

.title{
    font-size: 3.5rem; 
}

.subtitle{
    background-color: grey;
    color: white;
}

.fontColor{
    color: #d5ac8c;
}

.fontColor2{
    color: #63421e;
}

.btn{
    color:#d5ac8c;
    border: 4px solid #d5ac8c;
    font-size: large;
    font-weight: bold;
    border-radius: 0;
}

.btn:hover{
    color: white;
    background-color: #d5ac8c;
}

.btn2{
    color:#63421e;
    background-color: transparent;
    border: 4px solid #63421e;
    font-size: large;
    font-weight: bold;
    border-radius: 0;
}

.btn2:hover{
    color: white;
    background-color: #63421e;
}

.back{
    background-color: #d5ac8c;
}

.back2{
    background-color: #63421e;
}

.productos{
    background-color: black;
    color: white;
}

.calidad{
    background-color: #2f2d2d;
    color: white;
}



@media only screen and (max-width: 600px) and (min-width: 400px)  {}

